<h1>Tasks#new</h1>

<%= form_with model: Task.new do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>
    <%= form.submit %>
<% end %>

<%= params %>
